
/* Centers 'Welcome to the Kuapula Online Webstore'*/

header {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  /* Set the background image and adjust properties as needed */
  background-image: url('images/sandiego.jpeg');
  background-size: cover; /* Adjust this property to control the image size */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background when scrolling */
  /* You can also add more styles to the body if needed */
}

/* Styles specific to invoice.html (override background image) */
body.invoice-body {
  background-image: none; /* Remove background image for invoice.html */
  background-color: #ffffff; /* Set a background color for invoice.html if needed */
}

/* Used chat to change H1,H2,H3 */
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    /* Apply the fonts to specific elements */
    h1, h2, h3 {
        font-family: 'Abril Fatface', sans-serif;
    }
    h3 {
      color: white
    }

/* Styling the products display */
.item img {
    width: 200px;
    height:200px;
  }

  .store_img{
    width: 500px;
    height:500px;
  }

/* Invoice styling */

table {
  border-collapse: collapse;
  width: 100%;
}

table, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  font-size: 22px;
  border: 3px double black;
}

tfoot {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
}

/* Ensure the navbar appears above other elements (came up in chat gpt)*/
.navbar {
  z-index: 1000; 
}

/*background video on index.html (Used Chat gpt to format video into website)*/


#myImage {
  width: 100%;
  height: auto; /* Set height to auto to maintain the video's aspect ratio */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Place the video behind other elements */
}

.container {
  position: relative;
}

.container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

/*makes the images on the invoice smaller */
.img-invoice {
  width: 200px;
  height: 200px
}

/* Button Styling */

.purchase-btn { /*(Used Sal's Button Styling) */
  width: 80%;
  height: 50px; 
  border-radius: 50px; 
  border: none;
  background-color: #00171f; 
  color: #f7fcff; 
  text-transform: uppercase; 
  letter-spacing: 0.2em;
}

.purchase-btn {
  
  color: #FFF;
  background-color: #26537f;
  border-color: #26537f;


}

.purchase-btn:hover {
background-color: #1a4572;
border-color: #164372;
color: #FFF;
}